
.pattern-background {
  background-image: url(/YMLhalftone.png); /* Background pattern adapted from subtlepatterns.com */
  background-size: 200px;
  background-repeat: repeat;
}
.solid-background {
  background-color: #5964ae;
}
.top-gap {
  padding-top: 50px;
}
.top-gap-super {
  padding-top: 100px;
}
.fullpage-div {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.vignette {
  -webkit-box-shadow: inset 0px 0px 100px #000000;
  box-shadow: inset 0px 0px 100px #000000;
}
body, h1, h2 {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica Neue, Helvetica, serif;
  font-weight: 400;
  font-size: 20px;
  text-shadow: 0px 1px 1px #2d3759;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: #d6df23;
}
h2 {
  font-size: 28px;
}

a {
  color: #d6df23;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/**
 * Wrapper
 */
.wrapper {
  /*max-width: 660px;*/
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px; }
  /*@media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (40px));
      max-width: calc(800px - (40px));
      padding-right: 20px;
      padding-left: 20px; } }*/

/**
 * Clearfix
 */
.wrapper:after, .site-nav:after, .site-nav .page-link-box:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }



/**
 * Site header
 */
.site-header {
  border-top: 5px solid #2d3759;
  border-bottom: 1px solid #2d3759;
  background-color: #5964ae;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #d6df23; }
  .site-title, .site-title:visited {
    color: #d6df23; }

.site-nav {
  float: right;
  line-height: 56px; }
  /*.site-nav .menu-icon {
    display: none; }*/
  .site-nav .page-link {
    color: #FFFFFF;
    line-height: 1.75;
    margin-left: 10px;
    margin-right: 10px; }
  .site-nav .page-link-active {
    color: #d6df23; }
  .site-nav .page-link-box {
    float: left;
    background-color: #5964ae;
    min-height: 56px;
    margin-left: 0px; }
  .site-nav .page-link-box-active {
    background-color: #717fcd; }
