---
layout: subpage
maintitle: Contact
title: Contact YML
permalink: /contact.html
---
{% include contact-nav.html %}

<div class="container link-noglyph">

  <div class="row text-row">
    <div class="col-xs-12">
      <h4>Email</h4>
      <p>Contact our coordinator at: {% include ROT13-email.html %}<p>
    </div>
  </div>

  <div class="row text-row">
    <div class="col-sm-12">
      <h4>Social media</h4>
    </div>
    <div class="col-sm-6 social-media-tiles">
      <p>Like us <a href="https://facebook.com/youngmercylinks">on Facebook!</a></p>
      <!-- Facebook Page Plugin render -->
      <div class="fb-page" data-href="https://www.facebook.com/youngmercylinks" data-width="300" data-height="347" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/youngmercylinks"><a href="https://www.facebook.com/youngmercylinks">Young Mercy Links</a></blockquote></div></div>    </div>

    <div class="col-sm-6 social-media-tiles">
      <p>Follow us <a href="https://plus.google.com/105608199735765050206">on Google+</a></p>
      <!-- Google+ Badge render -->
      <div class="g-page" data-width="300" data-href="https://plus.google.com/105608199735765050206" data-rel="publisher"></div>
    </div>

    {% comment %}
    <div class="col-sm-6 social-media-tiles">
      <!-- Twitter Timeline render -->
      <p>Follow us <a href="https://twitter.com/youngmercylinks">on Twitter!</a></p>
            <a class="twitter-timeline" width="300" height="350" data-link-color="#d6df23" href="https://twitter.com/youngmercylinks" data-widget-id="ID_NUMBER">Tweets by @youngmercylinks</a>
    </div>
    {% endcomment %}
  </div>
</div>

<!-- Facebook Page Plugin JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Google+ Badge JavaScript -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

{% comment %}
<!-- Twitter Timeline JavaScript -->
<script></script>
{% endcomment %}
