---
layout: page
title: "Events"
permalink: /events.html
---

  <ul class="post-list">
    {% for event in site.events %}
    <li>
      <span class="event-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.times %} • {{ page.times }}{% endif %}{% if page.location %} • <a href="{{ page.gm-link }}" title="Google Maps">{{ page.location }}</a>{% endif %}</span>

      <h2>
        <a class="post-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
      </h2>
      <p class="post-excerpt">{{ event.excerpt | strip_html | truncatewords: 50 }}&hellip; (<a href="{{ event.url }}">Read More</a>)</p>
    </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <ul>
      {% if paginator.previous_page %}
      <li class="prev"><a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a></li>
      {% endif %}
      <li><a {% if paginator.page == 1 %}class="active" {% endif %}href="/blog/">1</a></li>
      {% for count in (2..paginator.total_pages) %}
      <li><a {% if paginator.page == count %}class="active" {% endif %}href="/blog/page{{ count }}">{{ count }}</a></li>
      {% endfor %}
      {% if paginator.next_page %}
      <li class="next"><a href="/blog/page{{ paginator.next_page }}">Next</a></li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
