---
layout: default
title: "Events"
permalink: /events.html
---
<ul class="post-list" id="event-list">
  {% assign events = site.events %}
  {% for event in events %}
    <div class="row text-row-wide event-list__event">
      <div class="{% if event.thumbnail %}col-sm-9 pull-right restore-padding{% else %}col-sm-12{% endif %}">
        <h4 class="media-heading link-noglpyh">
          <a href="{{ event.permalink }}">
            {{ event.title }}
          </a>
        </h4>
        <span class="event-meta"><span class="event__date--start" itemprop="startDate" content="{{ event.start | date_to_xmlschema }}">{{ event.start | date: "%B %-d, %Y" }}<span><span class="event__date--end" itemprop="endDate" content="{{ event.end | date_to_xmlschema }}"><span>{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.location.url }}" title="Google Maps">{{ event.location.name }}</a>{% endif %}</span>
      </div>

      {% if event.thumbnail %}
      <div class="col-sm-3 pull-left link-unstyled">
        <a href="{{ event.permalink }}">
          <img src="{{ event.thumbnail }}" alt="Flyer for {{ event.title }}" width="100%">
        </a>
      </div>
      {% endif %}

      <div class="{% if event.thumbnail %}col-sm-9 pull-right restore-padding{% else %}col-sm-12{% endif %}">
        <p>{{ event.excerpt | strip_html }}<p>
      </div>
    </div>
  {% endfor %}
</ul>

{% unless events %}
<div align="center" style="margin-bottom: 25px; color: #7c87c8;">
  <p>
    <h2 class="gf-montserrat text-shadow">No events to show</h2>
    <h3 class="gf-montserrat text-shadow">Please check back later.</h3>
  </p>
</div>
{% endunless %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
    <li class="prev"><a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a></li>
    {% endif %}
    <li><a {% if paginator.page == 1 %}class="active" {% endif %}href="/blog/">1</a></li>
    {% for count in (2..paginator.total_pages) %}
    <li><a {% if paginator.page == count %}class="active" {% endif %}href="/blog/page{{ count }}">{{ count }}</a></li>
    {% endfor %}
    {% if paginator.next_page %}
    <li class="next"><a href="/blog/page{{ paginator.next_page }}">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<script type="text/javascript">
  var nowDate = new Date();

  var allEvents = document.getElementById('event-list').getElementsByClassName('event-list__event');
  function groupByDate() {
    for (var thisEvent = 0; thisEvent < allEvents.length; thisEvent++) {
      var theDate = new Date(allEvents[thisEvent].querySelector('*[itemprop="endDate"]').getAttribute("content"));
      var recentLimit = 5*86400000;
      if (theDate.getTime() >= nowDate.getTime()) {
        allEvents[thisEvent].setAttribute('relativedate','upcoming');
      } else if ((nowDate.getTime() - theDate.getTime()) <= recentLimit) {
        allEvents[thisEvent].setAttribute('relativedate','recent');
      } else if ((nowDate.getTime() - theDate.getTime()) > recentLimit) {
        allEvents[thisEvent].setAttribute('relativedate','past');
      } else {
        alert("Error");
      }
    }

    var titleUpcoming = document.createElement('div');
    titleUpcoming.setAttribute('class','row text-row-wide');
    titleUpcoming.innerHTML = '<div class="col-xs-12 center-block text-col">\
      <h2>Upcoming events</h2>\
    </div>';

    var titleRecent = document.createElement('div');
    titleRecent.setAttribute('class','row text-row-wide');
    titleRecent.innerHTML = '<div class="col-xs-12 center-block text-col">\
      <h2>Recent events</h2>\
    </div>';

    var titlePast = document.createElement('div');
    titlePast.setAttribute('class','row text-row-wide');
    titlePast.innerHTML = '<div class="col-xs-12 center-block text-col">\
      <h2>Past events</h2>\
    </div>';

    var firstUpcoming = document.querySelector('div[relativedate="upcoming"]');
    if (typeof(firstUpcoming) != 'undefined' && firstUpcoming != null) {
      firstUpcoming.parentNode.insertBefore(titleUpcoming, firstUpcoming);
    }
    var firstRecent = document.querySelector('div[relativedate="recent"]');
    if (typeof(firstRecent) != 'undefined' && firstRecent != null) {
      firstRecent.parentNode.insertBefore(titleRecent, firstRecent);
    }
    var firstPast = document.querySelector('div[relativedate="past"]');
    if (typeof(firstPast) != 'undefined' && firstPast != null) {
      firstPast.parentNode.insertBefore(titlePast, firstPast);
    }
  }

  document.addEventListener('DOMContentLoaded', groupByDate(), false);
</script>
