---
layout: default
---
<div class="container">

  <div class="row text-row">
    <div class="col-xs-12" style="text-align: center;">

    {% comment %}<h1 class="gf-montserrat text-shadow" style="color: #d6df23;">Young Mercy Links</h1>
    <h3 class="gf-montserrat text-shadow">This site is under construction. Please be patient.</h3>{% endcomment %}

    {% include logo.svg.html %}

    <br><br>
    <p align="center">Find us <a href="http://facebook.com/youngmercylinks">on Facebook</a></p>
    <div class="fb-like" data-href="https://facebook.com/youngmercylinks" data-width="350" data-layout="standard" data-action="like" data-colorscheme="dark" data-show-faces="false" data-share="false"></div>

    </div>
  </div>


  <ul class="post-list">
    {% assign events = site.events %}
    {% capture nowunix %}{{ 'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% assign timeout = 604800 %}
    {% assign upcoming = false %}
    {% assign recent = false %}

    {% for event in events %}
      {% capture posttime %}{{ event.start | date: '%s' | plus: 0 }}{% endcapture %}
      {% assign timediff = nowunix | minus: posttime %}
      {% if timediff <= 0 %}{% assign upcoming = true %}{% endif %}
      {% if timediff < timeout and timediff > 0 %}{% assign recent = true %}{% endif %}
      {% if timediff > timeout %}{% assign past = true %}{% endif %}
    {% endfor %}

    {% if upcoming %}
      <div class="row text-row">
        <div class="col-xs-12 center-block text-col">
          <h2>Upcoming events</h2>
        </div>
      </div>
      {% for event in events | limit: 3 %}
        {% capture posttime %}{{ event.start | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign timediff = nowunix | minus: posttime %}
        {% if timediff <= 0 %}
        <div class="row text-row">
          {% if event.thumbnail %}
            <div class="col-sm-9 pull-right restore-padding">
              <h4 class="media-heading link-noglpyh">
                <a href="{{ event.permalink }}">
                  {{ event.title }}
                </a>
              </h4>
              <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
            </div>

            <div class="col-sm-3 pull-left link-unstyled">
              <a href="{{ event.permalink }}">
                <img src="{{ event.thumbnail }}" alt="Flyer for {{ event.title }}" width="100%">
              </a>
            </div>

            <div class="col-sm-9 pull-right restore-padding">
              <p>{{ event.excerpt | strip_html }}<p>
            </div>
          {% else %}
          <div class="col-sm-12">
            <h4 class="media-heading link-noglpyh">
              <a href="{{ event.permalink }}">
                {{ event.title }}
              </a>
            </h4>
            <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
          </div>

          <div class="col-sm-12">
            <p>{{ event.excerpt | strip_html }}<p>
          </div>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if recent %}
      <div class="row text-row">
        <div class="col-xs-12 center-block text-col">
          <h2>Recent events</h2>
        </div>
      </div>
      {% for event in events | limit: 1 %}
        {% capture posttime %}{{ event.start | date: '%s' | plus: 0 }}{% endcapture %}
        {% assign timediff = nowunix | minus: posttime %}
        {% if timediff < timeout and timediff > 0 %}
        <div class="row text-row">
          {% if event.thumbnail %}
            <div class="col-sm-9 pull-right restore-padding">
              <h4 class="media-heading link-noglpyh">
                <a href="{{ event.permalink }}">
                  {{ event.title }}
                </a>
              </h4>
              <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
            </div>

            <div class="col-sm-3 pull-left link-unstyled">
              <a href="{{ event.permalink }}">
                <img src="{{ event.thumbnail }}" alt="Flyer for {{ event.title }}" width="100%">
              </a>
            </div>

            <div class="col-sm-9 pull-right restore-padding">
              <p>{{ event.excerpt | strip_html }}<p>
            </div>
          {% else %}
          <div class="col-sm-12">
            <h4 class="media-heading link-noglpyh">
              <a href="{{ event.permalink }}">
                {{ event.title }}
              </a>
            </h4>
            <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
          </div>

          <div class="col-sm-12">
            <p>{{ event.excerpt | strip_html }}<p>
          </div>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless upcoming or recent %}
      {% if past %}
        <div class="row text-row">
          <div class="col-xs-12 center-block text-col">
            <h2>Past events</h2>
          </div>
        </div>
        {% for event in events %}
          {% capture posttime %}{{ event.start | date: '%s' | plus: 0 }}{% endcapture %}
          {% assign timediff = nowunix | minus: posttime %}
          {% if timediff > timeout %}
          <div class="row text-row">
            {% if event.thumbnail %}
              <div class="col-sm-9 pull-right restore-padding">
                <h4 class="media-heading link-noglpyh">
                  <a href="{{ event.permalink }}">
                    {{ event.title }}
                  </a>
                </h4>
                <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
              </div>

              <div class="col-sm-3 pull-left link-unstyled">
                <a href="{{ event.permalink }}">
                  <img src="{{ event.thumbnail }}" alt="Flyer for {{ event.title }}" width="100%">
                </a>
              </div>

              <div class="col-sm-9 pull-right restore-padding">
                <p>{{ event.excerpt | strip_html }}<p>
              </div>
            {% else %}
            <div class="col-sm-12">
              <h4 class="media-heading link-noglpyh">
                <a href="{{ event.permalink }}">
                  {{ event.title }}
                </a>
              </h4>
              <span class="event-meta">{{ event.start | date: "%b %-d, %Y" }}{% if event.times %} • {{ event.times }}{% endif %}{% if event.location %} • <a href="{{ event.gm-link }}" title="Google Maps">{{ event.location }}</a>{% endif %}</span>
            </div>

            <div class="col-sm-12">
              <p>{{ event.excerpt | strip_html }}<p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endunless %}

  </div>

<!-- Facebook JavaScript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
