{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first | split:'.' | first }}{% endcapture %}<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-yml-blue">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.url }}" class="navbar-brand gf-montserrat text-shadow"><b>YML</b></a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li{% if location == 'index' %} class="active" {% endif %}>
          <a href="/">Home</a>
        </li>
        {% comment %}<li class="dropdown{% if location == 'about' %} active{% endif %}">
          <a href="/about.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li{% if location == 'about' %} class="active" {% endif %}><a href="/about.html">About YML</a></li>
            <li{% if location == 'mission' %} class="active" {% endif %}><a href="/about/mission.html">Mission Statement</a></li>
            <li{% if location == 'members' %} class="active" {% endif %}><a href="/about/members.html">Our Members</a></li>
          </ul>
        </li>
        <li class="dropdown-standin{% if location == 'about' %} active{% endif %}">
          <a href="/about.html">About</a>
        </li>{% endcomment %}
        <li{% if location == 'about' %} class="active" {% endif %}>
          <a href="/about.html">About</a>
        </li>
        <li{% if location == 'events' %} class="active" {% endif %}>
          <a href="/events.html">Events</a>
        </li>
        {% comment %}
        <li{% if location == 'faq' %} class="active" {% endif %}>
          <a href="/faq.html">FAQ</a>
        </li>
        <li{% if location == 'links' %} class="active" {% endif %}>
          <a href="/links.html">Links</a>
        </li>
        {% endcomment %}
        <li{% if location == 'blog' %} class="active" {% endif %}>
          <a href="/blog.html">Blog</a>
        </li>
        <li class="dropdown{% if location == 'contact' %} active{% endif %}">
          <a href="/contact.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li{% if location == 'contact' %} class="active" {% endif %}><a href="/contact.html">Contact Us</a></li>
            <li{% if location == 'othergroups' %} class="active" {% endif %}><a href="/contact/othergroups.html">Other Groups</a></li>
          </ul>
        </li>
        <li class="dropdown-standin{% if location == 'contact' %} active{% endif %}">
          <a href="/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<noscript><div class="alert alert-subtle" role="alert">This site relies on JavaScript to function. Your experience is likely to be poor without it. Please consider turning it on, or <a class="link-subtle" href="http://browsehappy.com/">upgrading to a more modern browser</a>.</div></noscript>