html {
  position: relative;
  min-height: 100%;
}

body {
  @include flexbox();
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @include flex(1);
}

.footer--site {
  width: 100%;
  background-color: darken($body-bg, 20%);
  margin-top: 20px;

  .container::before,
  .container::after {
    display: none;
  }

  .footer--fineprint {
      padding-top: 0.25em;
      padding-bottom: 0.25em * 1.4;
    > .text-muted {
      margin: 0;
      font-size: ceil(($font-size-base * 0.6));
      text-align: center;
    }
  }

  .footer--contact {
    @include flexbox();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .footer--contact__left {
      @include order(1);
    }

    .footer--contact__right {
      @include order(2);
    }
  }
}
