body {
  padding-top: $navbar-height + 20px;
  padding-bottom: 0;
}

.navbar-nav > li.dropdown > a {
  display: none !important;
  visibility: hidden !important;
  @media (min-width: $grid-float-breakpoint-max) {
    display: block !important;
    visibility: visible !important;
  }
}

.navbar-nav > li.dropdown-standin > a {
  display: block !important;
  visibility: visible !important;
  @media (min-width: $grid-float-breakpoint-max) {
    display: none !important;
    visibility: hidden !important;
  }
}

// Dropdowns
.navbar-nav {
  .dropdown-menu {
    background-color: $navbar-default-bg;
    a {
      color: $navbar-default-link-color;
      background-color: transparent;
      &:hover,
      &:focus,
      &:active {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }

    > .dropdown-header {
      border-color: $navbar-default-border;
    }
    .divider {
      background-color: $navbar-default-border;
    }

    .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}
