//
// Typography
// --------------------------------------------------


.gf-montserrat {
  font-family: 'Montserrat', sans-serif;
  > .normal {
    font-weight: 400;
  }
  > .bold {
    font-weight: 700;
  }
}

.text-shadow {
  @include text-shadow (0,1px,1px);
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include text-shadow (0,1px,1px);
  small,
  .small {
    font-weight: 400;
  }
}

// Emphasis & misc
// -------------------------

// Contextual colors
.text-muted {
  a {
    color: darken($link-color, 15%);

    &:hover,
    &:focus {
      color: darken($link-hover-color, 15%);
    }
  }
}

// Wrapping long email
// -------------------------

.on-xs-screen {
  display: block !important;
  visibility: visible !important;
  text-align: center;
  @media (min-width: ($screen-xs-max)) {
    display: none !important;
    visibility: hidden !important;
  }
}

.off-xs-screen {
  display: none !important;
  visibility: hidden !important;
  @media (min-width: ($screen-xs-max)) {
    display: inline-block !important;
    visibility: visible !important;
  }
}
