table{
  border-collapse: collapse;
  border-top: 2px solid darken($body-bg, 20%);
  border-bottom: 2px solid darken($body-bg, 20%);
}

th{
  border-top: 2px solid darken($body-bg, 20%);
  border-bottom: 2px solid darken($body-bg, 20%);
  padding: 5px;
}

td{
  vertical-align: top;
  border-top: 1px solid darken($body-bg, 20%);
  border-bottom: 1px solid darken($body-bg, 20%);
  padding: 5px;
}

.social-media-tiles {
  margin-top: 20px;
  text-align: center;
}
