a[href^="http://"]:after,
a[href^="https://"]:after {
  font-family: 'FontAwesome';
  // font-size: $font-size-small;
  margin-left: 5px;
  content:"\f08e";
}

a[href^="http://www.youngmercylinks.github.io"]:after,
a[href^="http://youngmercylinks.github.io"]:after  {
  content: "";
}
