.gf-montserrat {
  font-family: 'Montserrat', sans-serif;
  > .normal {
    font-weight: 400;
  }
  > .bold {
    font-weight: 700;
  }
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(0,0,0,0.67);
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-shadow: 0 1px 1px rgba(0,0,0,0.67);

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
}


// Wrapping long email
// -------------------------

.on-xs-screen {
  display: block !important;
  visibility: visible !important;
  text-align: center;
  @media (min-width: ($screen-xs-max)) {
    display: none !important;
    visibility: hidden !important;
  }
}

.off-xs-screen {
  display: none !important;
  visibility: hidden !important;
  @media (min-width: ($screen-xs-max)) {
    display: inline-block !important;
    visibility: visible !important;
  }
}
