//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #d6df23;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #5964ae;
//** Global text color on `<body>`.
$text-color:            $gray-lighter;
//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;


//== Footer
//
//##

$footer-height: 25px;
$footer-breakpoint: 468px;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          18px;

$font-size-very-small:    ceil(($font-size-base * 0.6)) !default; // ~12px

$headings-font-weight:    700;
//** Text muted color
$text-muted:                  lighten(#5a618f, 10%);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Navbar
//
//##

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     408px; // Used to be 768px ($screen-sm-min)

// Basics of a navbar
$navbar-collapse-max-height:       340px;

// YML blue navbar
// Reset inverted navbar basics
$navbar-yml-blue-color:                      lighten($gray-light, 15%);
$navbar-yml-blue-bg:                         darken(#5964ae, 15%);
$navbar-yml-blue-border:                     darken($navbar-yml-blue-bg, 10%);

// Inverted navbar links
$navbar-yml-blue-link-color:                 lighten(#5964ae, 40%);
$navbar-yml-blue-link-hover-color:           lighten(#d6df23, 20%);
$navbar-yml-blue-link-hover-bg:              transparent !default;
$navbar-yml-blue-link-active-color:          $navbar-yml-blue-link-hover-color;
$navbar-yml-blue-link-active-bg:             darken($navbar-yml-blue-bg, 10%);
$navbar-yml-blue-link-disabled-color:        #444;
$navbar-yml-blue-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-yml-blue-brand-color:                #d6df23;
$navbar-yml-blue-brand-hover-color:          #fff;
$navbar-yml-blue-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-yml-blue-toggle-hover-bg:            lighten($navbar-yml-blue-bg, 20%);
$navbar-yml-blue-toggle-icon-bar-bg:         $navbar-yml-blue-link-color;
$navbar-yml-blue-toggle-border-color:        $navbar-yml-blue-link-color;



//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         darken($body-bg, 5%);

$nav-disabled-link-color:                   $gray-light;
$nav-disabled-link-hover-color:             $gray-light;

//== Tabs
$nav-tabs-border-color:                     darken($body-bg, 20%);

$nav-tabs-link-hover-border-color:          darken($body-bg, 5%);

$nav-tabs-active-link-hover-bg:             $body-bg;
$nav-tabs-active-link-hover-color:          $brand-primary;
$nav-tabs-active-link-hover-border-color:   darken($body-bg, 20%);

$nav-tabs-justified-link-border-color:            darken($body-bg, 20%);
$nav-tabs-justified-active-link-border-color:     $body-bg;

//== Pills
$nav-pills-active-link-hover-bg:            darken($body-bg, 15%) !default;
$nav-pills-active-link-hover-color:         $brand-primary !default;

//== Frankentabs
$tab-break-width:                           480px; // Using $screen-sm-min in the code instead
