---
layout: default
---
<div class="container">
  <div class="row text-row-wide">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/Event">

      <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
      <p class="event-meta"><span itemprop="startDate" content="{{ page.start | date_to_xmlschema }}">{{ page.start | date: "%B %-d, %Y" }}<span><span itemprop="endDate" content="{{ page.end | date_to_xmlschema }}"><span>{% if page.times %} • {{ page.times }}{% endif %}
        {% if page.location %}<span itemprop="location" itemscope itemtype="http://schema.org/Place"> •
          {% if page.location.url %}<a href="{{ page.location.url }}" title="Google Maps" itemprop="hasMap">{% endif %}{% if page.location.name %}<span itemprop="name">{{ page.location.name }}</span><span class="event--address"{% if page.location.name %} style="display:none;"{% endif %} itemscope itemtype="http://schema.org/PostalAddress">(<span itemprop="streetAddress">{{ page.location.address.street | append: ', '}}</span><span itemprop="addressLocality">{{ page.location.address.locality  | append: ' ' }}</span><span itemprop="addressRegion">{{ page.location.address.region | append: ' ' }}</span><span itemprop="addressCountry">{{ page.location.address.country }}</span>)</span>{% endif %}{% if page.location.url %}</a>{% endif %}</span>
        {% endif %}</p>

      {{ content }}

      <div id='calendarDownloadLink'></div>

    </div>
  </div>
</div>

<script type="text/javascript">
  function download(filename, content) {
    var theLink = document.createElement('a');
    theLink.setAttribute('href', 'data:text/calendar;charset=utf-8,' + encodeURIComponent(content));
    theLink.setAttribute('download', filename);

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        theLink.dispatchEvent(event);
    }
    else {
        theLink.click();
    }
  }

  var calendarContent = 'This is some test content';

  function calendarDownload(filename) {
    var theDownloadLink = document.createElement('a');
    theDownloadLink.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(calendarContent));
    theDownloadLink.setAttribute('download', filename);
    theDownloadLink.innerHTML = 'Add to your calendar';
    document.getElementById('calendarDownloadLink').appendChild(theDownloadLink);
  }

  calendarDownload('{{ page.shorttitle }}');

  // download('theCaltest.txt', 'Hello world!');
</script>